name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main, develop]

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
        poetry-version: ["main"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image
        uses: abatilo/actions-poetry@v3
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Install dependencies
        run: poetry install --with dev
      - name: Run tests
        run: poetry run pytest
      - name: Run linter
        run: poetry run ruff check phenosentry --silent
      - name: Check code formatting
        run: poetry run ruff format --check
