name: Publish Package to PyPI

on:
    push:
        tags:
            - "v*"

jobs:
    build-and-publish:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                python-version: ${{ matrix.python-version }}
            - name: Run image
              uses: abatilo/actions-poetry@v3
              with:
                poetry-version: ${{ matrix.poetry-version }}
            - name: Install dependencies
              run: poetry install --with dev
            - name: Run tests
              run: poetry run pytest
            - name: Install build libraries
              run: python3 -m pip install build
            - name: Build the package
              run: python3 -m build
            - name: Publish package to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
              with:
                  password: ${{ secrets.PYPI_API_TOKEN }}
