name: Publish Package to PyPI

on:
    push:
        tags:
            - "v*"

jobs:
    build-and-publish:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.12"
            - name: Install the package
              run: python -m pip install --editable .[test]
            - name: Run tests
              run: pytest
            - name: Install build libraries
              run: python3 -m pip install build
            - name: Build the package
              run: python3 -m build
            - name: Publish package to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
              with:
                  password: ${{ secrets.PYPI_API_TOKEN }}
